<div id="map">
  <div *ngFor="let table of tablesFiltered">
    <div id="table-wrapper" [style.left]="table.x + unit" [style.top]="table.y + unit">
      <div class="chair left"></div>
      <div class="chair left"></div>
      <div class="chair right"></div>
      <div class="chair right"></div>
      <div class="the-table">
        <div id="div-reservation">
          <button *ngIf="!table.occupied" id="btn-reservation" (click)="makeReserve(table)">
            Reservar
          </button>
          {{table.name}}
          <div [ngClass]="{'occupied': table.occupied, 'empty': !table.occupied}"></div>
        </div>
      </div>
    </div>

  </div>
</div>
