<div class="myForm">

  <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">

    <!--Name Input-->
    <div class="mb-3 row">
      <label class="col-sm-9 col-form-label">
        Nombre:

        <input class="form-control" type="text" formControlName="name" placeholder="Nombre">
      </label>
    </div>

    <!--Second Name Input-->
    <div class="mb-3 row">
      <label class="col-sm-9 col-form-label">
        Apellido:
        <input class="form-control" type="text" formControlName="secondName">
      </label>
    </div>
    <!--TODO arreglar toast-->
    <app-toast *ngIf="showToast" [message]="message"></app-toast>

    <!--Phone Input-->
    <div class="mb-3 row">
      <label class="col-sm-9 col-form-label">
        Teléfono:
        <input class="form-control" type="tel" formControlName="phone">
      </label>
    </div>


    <!--Mail Input-->
    <div class="mb-3 row">
      <label class="col-sm-9 col-form-label">

        Correo electrónico:
        <input class="form-control" type="email" formControlName="email">
      </label>
    </div>


    <!--Button Submit-->
    <div class="col">
      <button class="btn btn-primary" type="submit" [disabled]="!reservationForm.valid">Enviar</button>
    </div>
  </form>
</div>
