form{
  margin-top: 4%;
  margin-left: 10%;
  width: 100%;
}

.myForm {
  width: 50%;
  margin-top: 8%;
  margin-left: auto;
  margin-right: auto;
  border:3px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 5px;
  background-color: #f9f9f9;
}
button{
  margin-bottom: 10px;
  display: flex;

}

#editButton{
  visibility: hidden;
}

.form-error{
  color: darkred;
}
