#home {
  width: 100%;
  height: 100%;
}

.content-block {
  width: 70%;
  height: auto;
  margin: 20px auto 50px;
  padding-left: 50px;
  padding-right: 50px;

}

#reserve-button {
  text-align: center;
  border: 2px solid #7e614a;
  background-color: #efeded;
  width: 20%;
}

#reserve-button *{
  font-size: 20px;
}

#presentationText{
  font-size: 20px;
}
