<!--Título sin cliente-->

<div class="div-text-reservation" *ngIf="!client && !newClientCheck">
  <h1>Esta página solo esta disponible para usuarios registrados</h1>
  <h4>Esta página es privada disponible solo para usuarios registrados. Regístrate o crea una nueva cuenta para acceder
    al contenido.
  </h4>
</div>

<!--Título con cliente-->
<div class="div-text-reservation" *ngIf="!client && newClientCheck">
  <h1>Bienvenido a nuestra página de registro</h1>
</div>

<!--Check user / registro-->
<div id="login-container" class="mt-5">
  <div class="container" *ngIf="!client && !newClientCheck">
    <div class="row">
      <div class="form-container">
        <div class="left-content">
          <h3 class="title">Mads For Restaurants</h3>
          <h4 class="sub-title">¡Aquí no serás el único!</h4>
        </div>
        <div class="right-content">
          <h3 class="form-title">Login</h3>
          <form class="form-horizontal  container form-bg">
            <div class="form-group">
              <label for="name">Username</label>
              <input type="text" class="form-control" [(ngModel)]="name" id="name" name="name" placeholder="Nombre"/>
              <br>
              <label for="phone">Télefono</label>
              <input type="text" class="form-control" [(ngModel)]="phone" id="phone" name="phone" placeholder="Teléfono"/>
            </div>
            <button class="btn signin" (click)="checkClient()">Login</button>
          </form>
          <span class="separator">Si no tienes cuenta aún:</span>
          <div class="social-links">
            <button class="btn btn-secondary" (click)="makeNewClient()">Registrate</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Tarjeta perfil cliente-->
<div class=" mb-3" id="client-card" *ngIf="client">
  <app-profile-card [client]="client"></app-profile-card>
</div>

<!--Mapa general de mesas-->
<div *ngIf="worker?.charge === 'S'|| showMap">
  <app-tables-map [currentClient]="client" [tablesFiltered]="tablesFiltered"></app-tables-map>
</div>


<div id="form-new-client" class="mb-5">
  <app-form-reservation
    *ngIf="newClientCheck "
    [activateEditEvent]="activateEditEvent"
    (newClientCheck)="cancelForm($event)"
    (newClient)="receiveNewClient($event)"
    (visibilityStatus)="waitVisibilityStatus($event)"
    [client]="client"></app-form-reservation>
</div>








