<h1 *ngIf="showMap" id="titleReserve">Bienvenido a la reserva</h1>

<!--Título sin cliente-->
<div class="div-text-reservation" *ngIf="!client && !newClientCheck">
  <h2>Esta página solo esta disponible para usuarios registrados</h2>
  <h4>Esta página es privada disponible solo para usuarios registrados. Regístrate o crea una nueva cuenta para acceder
    al contenido.
  </h4>
</div>

<!--Título con cliente-->
<div class="div-text-reservation" *ngIf="!client && newClientCheck">
  <h1>Bienvenido a nuestra página de registro</h1>
</div>

<!--Check user / registro-->
<div id="login-container">
  <div class="container" *ngIf="!client && !newClientCheck">
    <div class="row">
      <div class="form-container">
        <div class="left-content">
          <h3 class="title">Mads For Restaurants</h3>
          <h4 class="sub-title">¡Aquí no serás el único!</h4>
        </div>
        <div class="right-content">
          <h3 class="form-title">Login</h3>
          <form class="form-horizontal  container form-bg">
            <div class="form-group">
              <label for="name">Usuario</label>
              <input type="text" class="form-control" [(ngModel)]="name" id="name" name="name" placeholder="Nombre"/>
              <br>
              <label for="phone">Teléfono</label>
              <input type="text" class="form-control" [(ngModel)]="phone" id="phone" name="phone"
                     placeholder="Teléfono"/>
            </div>
            <button class="btn signin" (click)="checkClient()">Login</button>
          </form>
          <span class="separator">Si no tienes cuenta aún:</span>
          <div class="social-links">
            <button class="btn btn-secondary" (click)="makeNewClient()">Registrate</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Tarjeta perfil cliente-->
<div class=" mb-3" id="client-card" *ngIf="client">
  <app-profile-card [client]="client"></app-profile-card>
</div>
<hr class="bar">
<!--Mapa general de mesas-->
<div *ngIf="showMap">

  <div id="datepicker-content">
    <h3>Seleccione el dia de reserva:</h3>
    <input type="date" id="date" [min]="minDate" [max]="maxDate" [(ngModel)]="dateSelected" class="form-control"
           required (change)="onDateChange($event)">
    <div class="form-error" *ngIf="dateSelectedOutOfDate">
      La fecha no puede ser inferior a la actual
    </div>
  </div>

  <app-tables-map [currentClient]="client"  [dateSelected]="dateSelected" [tablesFiltered]="tablesFiltered"></app-tables-map>
</div>

<hr *ngIf="showMap" class="bar">


<div id="form-new-client" class="mb-5">
  <app-form-reservation
    *ngIf="newClientCheck "
    [activateEditEvent]="activateEditEvent"
    (newClientCheck)="cancelForm($event)"
    (newClient)="receiveNewClient($event)"
    (visibilityStatus)="waitVisibilityStatus($event)"
    [client]="client"></app-form-reservation>
</div>








